section:nth-of-type(3) #gallery {
    margin: 20px 0;
}

.flex.wrap {
    flex-wrap: wrap;
}

section .container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
    width: 100%;
}



.card {
    background: url('https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') center center/cover;
	width: 390px;
	height: 300px;
	max-width: 100%;
    transition: opacity 0.5s;
}

.text {
    color: #1b242f;
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#gallery .button {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    border: 2px solid #e31b6d;
    font-size: 13pt;
    margin: 0 auto;
    padding: 7px 0;
    width: 170px;
    color: #1b242f;
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
    z-index: 2
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
}